{% include 'parts/head.html' %}
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y" style="min-height:84vh">

<!-- ============================ COMPONENT LOGIN   ================================= -->
	<div class="card mx-auto" style="max-width: 380px; margin-top:100px">
    <div class="text-center" style="color: #00b517">

    </div>
      <div class="card-body">
                 {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
        {{ message }}
    </li>
       {% endfor %}
</ul>
{% endif %}
      <h4 class="card-title mb-4">Email</h4>
      <form method="post" action="">{% csrf_token %}
          <div class="form-group">
			 <input type="email" class="form-control" name="email" placeholder="Email Address" >
          </div> <!-- form-group// -->
          <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block"> Send </button>
          </div> <!-- form-group// -->
      </form>
      </div> <!-- card-body.// -->
    </div> <!-- card .// -->


</section>
<!-- ========================= SECTION CONTENT END// ========================= -->


