{% extends "base.html" %}


{% load static %}

{% block title %}

Profile

{% endblock %}


{% block content %}

<section class="section-conten padding-y bg">

    <div class="container">
        <div class="row">

            {% include 'includes/messages.html' %}

        <aside class="col-md-3">
            <!--   SIDEBAR   -->
            {% include 'includes/sidebar.html' %}
            <br>
            <!--   SIDEBAR .//END   -->
        </aside>
<article class="card mb-4 col-md-9">
    <div class="card-body">
        <h4 class="card-title mb-4">Contact info</h4>
        <form  method="post" action="{% url 'accounts:profile_save' %}">
            {% csrf_token %}
            <div class="row">
                <div class="form-group col-sm-6">
                    <label>User name*</label>
                    {{user_form.username}}
                  
                </div>
                <div class="form-group col-sm-6">
                    <label>Email*</label>
                    {{user_form.email}}

                </div>
                <div class="form-group col-sm-6">
                    <label>Phone*</label>
                    {{user_form.phone_number}}
                </div>
                <div class="form-group col-sm-6">
                    <label>Picture*</label>
                    {{profile_form.profile_pic}}
                </div>
                <div class="form-group col-sm-6">
                    <label>City*</label>
                    {{profile_form.city}}

                </div>
                <div class="form-group col-sm-6">
                    <label>State*</label>
                    {{profile_form.state}}
                </div> 
                <div class="form-group col-sm-6">
                    <label>Address*</label>
                    {{profile_form.address}}              
                </div> 
               
                <button type="submit" class="btn btn-primary col-sm-12">Update</button>
            </div> 
        </form>
    </div> 
    </article> 
    </div> 
    </div>

    </section>



{% endblock %}