{% extends 'base.html' %}
{% load static  %}
{% load humanize %}




{% block content %}


<section class="section-content padding-y bg">
<div class="container">

<!-- ============================ COMPONENT 1 ================================= -->

<div class="row">
	<aside class="col-lg-9">
<div class="card">
<table class="table table-borderless table-shopping-cart">
<thead class="text-muted">
<tr class="small text-uppercase">
  <th scope="col">Product</th>
  <th scope="col" width="120">Quantity</th>
  <th scope="col" width="120">Price</th>
  <th scope="col" class="text-right" width="200"> </th>
</tr>
</thead>
<tbody>
<form  method="POST" action="{% url 'carts' %}">
	{% csrf_token %}
{% for item in cart_items %}
<tr>
	<td>
		<figure class="itemside align-items-center">
			<div class="aside"><img src="{{item.product.get_image_url}}" class="img-sm"></div>
			<figcaption class="info">
				<a href="#" class="title text-dark">{{item.product.name}}</a>
				<p class="text-muted small">Matrix: 25 Mpx <br> Brand: Canon</p>
			</figcaption>
		</figure>
	</td>
                                    <td>
                                        <!-- col.// -->
                                        <div class="col">
                                            <div class="input-group input-spinner">
                                                <div class="input-group-prepend">
                                                    <a href="{% url 'cart_item_menus' item.id %}" class="btn btn-light" type="button" id="button-plus"> <i
                                                            class="fa fa-minus"></i> </a>
                                                </div>
                                                <input type="text" class="form-control" value="{{item.quantity}}">

                                                <div class="input-group-append">
                                                    <a href="{% url 'cart_item_plus' item.id  %}" class="btn btn-light" type="button" id="button-minus"> <i
                                                            class="fa fa-plus"></i> </a>
                                                </div>
                                            </div> <!-- input-group.// -->
                                        </div> <!-- col.// -->
                                    </td>
	<td>
		<div class="price-wrap">
			<var class="price">{{item.product.price}}</var>
			<small class="text-muted">{{item.product.price}}</small>
		</div> <!-- price-wrap .// -->
	</td>
	<td class="text-right">
	<a href="{% url 'remove_cart' item.id %}"  class="btn btn-danger">Remove</a>
		{% empty %}
<h3>
	<form>
		<div style="color: red" class="text-center">
			<h3>Sizning savatchangiz bo'sh</h3>
		</div>
	</form>

</h3>
	</td>

</tr>
{% endfor %}

	</form>

</tbody>
</table>
</div> <!-- card.// -->

	</aside> <!-- col.// -->
	<aside class="col-lg-3">

		<div class="card">
		<div class="card-body">
			<dl class="dlist-align">
			  <dt>Total price:</dt>
				{% if total_price %}
			  <dd class="text-right">{{total_price}}</dd>
				{% else  %}
				  <dd class="text-right">0</dd>
				{% endif %}
			</dl>
			<dl class="dlist-align">
			  <dt>Tax:</dt>
				{% if delevery %}
			  <dd class="text-right">{{delevery}}</dd>
				{% else  %}
				<dd class="text-right">0</dd>
				{% endif %}
			</dl>
			<dl class="dlist-align">
			  <dt>Total:</dt>
				{% if grand_total %}
			  <dd class="text-right text-dark b"><strong>{{grand_total}}</strong></dd>
				 {% else  %}
			  <dd class="text-right text-dark b"><strong>0</strong></dd>
				{% endif %}

			</dl>
			<hr>
			<p class="text-center mb-3">
				<img src="{% static './images/misc/payments.png'  %}" height="26">
			</p>
			<a href="./place-order.html" class="btn btn-primary btn-block"> Checkout </a>
			<a href="{% url 'store' %}" class="btn btn-light btn-block">Continue Shopping</a>
		</div> <!-- card-body.// -->
		</div> <!-- card.// -->

</aside> <!-- col.// -->


</div> <!-- row.// -->
<!-- ============================ COMPONENT 1 END .// ================================= -->

</div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock content %}