{% include 'parts/head.html' %}
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y" style="min-height:84vh">

<!-- ============================ COMPONENT LOGIN   ================================= -->
	<div class="card mx-auto text-center" style="max-width: 380px; margin-top:100px; color: blue">
      <div class="card-body">

      <h4 class="card-title mb-4"> We have sent an email to you</h4>
          <small aria-colcount="" class="text-center">Please check your email</small><br><br>
                    <a href="{% url 'login' %}" class="btn btn-success">Login</a>
      </div> <!-- card-body.// -->
    </div> <!-- card .// -->

     <br><br>
<!-- ============================ COMPONENT LOGIN  END.// ================================= -->


</section>
<!-- ========================= SECTION CONTENT END// ========================= -->





