{% include 'parts/head.html' %}
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y" style="min-height:84vh">

<!-- ============================ COMPONENT LOGIN   ================================= -->
	<div class="card mx-auto text-center" style="max-width: 380px; margin-top:100px; color: blue">
      <div class="card-body">
      <h4 class="card-title mb-4"> Hurry your mail is verified</h4>
          <small class="text-center">Please Login</small>

      </div> <!-- card-body.// -->
        <a href="{% url 'login' %}" class="btn btn-primary"> Login </a>
    </div> <!-- card .// -->


<!-- ============================ COMPONENT LOGIN  END.// ================================= -->


</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

